@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #0c0808;
  --background-hex: #f8f6ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #f8f6ef;
    --background-hex: #0c0808;
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}